/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Asul&family=Cinzel+Decorative&family=Cinzel:wght@500&family=Marcellus+SC&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  text-align: center;
}

.nav {
  list-style-type: none;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #dddcf7;
  margin: auto auto;
  background: rgb(0, 0, 0, 0.3);
}

.nav li:hover {
  color: white;
}

hr {
  width: 95%;
}

.nav button {
  color: white;
  padding: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.2em;
}

.nav button:hover {
  background-color: rgb(6, 119, 163);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.project-name {
  font-family: "Marcellus SC", serif;
  margin: 20px;
  font-size: 3em;
}

.league_profile {
  float: left;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 8px solid rgb(6, 119, 163);
  border-style: inset;
}

.summoner-label {
  background: rgb(28, 45, 49);
  margin: 15px;
  padding: 10px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
}

.summoner-label h1 {
  font-size: 1.9em;
}

.bottom-art {
  width: 500px;
}

.mini-summoner-label {
  background: #516F7B;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
}

.mini_league_profile {
  float: left;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 4px solid rgb(6, 119, 163);
  border-style: inset;
}

.last-game-stats {
  display: flex;
  flex-direction: row;
  background: black;
  justify-content: space-evenly;
  font-size: 0.8em;
}
/* Added to format last game data */
.last-game-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.miniest_league_profile {
  height: 25px;
  width: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.minier_league_profile {
  height: 45px;
  width: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap-col {
  display: flex;
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-evenly;
  width: 80px;
}

/* CSS For stats */
.last-game-stats {
  display: flex;
  flex-direction: row;
  background: #006989;
  width: auto;
  padding: 15px;
  margin: 15px 20px;
  justify-content: space-evenly;
  font-size: 0.8em;
  border-radius: 25px;
}
/* Added to format last game data */
.last-game-col1 {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content:baseline;
}

.miniest_league_profile {
  height: 25px;
  width: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.minier_league_profile {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid
}

.row {
  display: flex;
  flex-direction: rox;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap-col {
  display: flex;
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  width: 90px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-item{
  display: inline-grid;
  border-left: aliceblue;
}

.stats-overall{
  display: flex;
  flex-direction: column;
  background: #006989;
  width: auto;
  padding: 5px 15px;
  margin: 15px 20px;
  justify-content:start;
  font-size: 0.8em;
  border-radius: 25px;
}

.champion-grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  grid-gap: 10px;
}
.wrap{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 5px;
}

.recent-champs{
  margin: 2.5px;
  margin-bottom: 0.5px;
}

.little-bigger{
  font-size: 1.5em;
}

.col-recent-champ {
  background:rgb(0, 49, 63);
  border-radius: 15px;
  margin: 1px 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***** Highlights CSS ******/
html {background-color:rgb(0, 46, 59);
  background: radial-gradient(circle, rgb(10, 10, 10) 0%, rgb(0, 49, 63) 100%);}

  /* entire highlights  tab below header page */
.highlights-container{
    color: white;
    margin: 0;
    padding:  auto 15px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

/* Left sidebar */
.highlights-list{
  max-height: 650px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  width: 35%;
}

.folder-tab{
  background: #516F7B;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.folder-tab:last-child{
  margin-bottom: 30px;
}

.video-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #006989;
  margin: 5px;
  color: aliceblue;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.video-thumbnail {
  width: 20%;
  height: 95%;
  border-radius: 25px;
  margin-right: 15px;

}



.highlight-details {
  text-align: left;
  margin-right: 15px;
}

/* Video area */
.video-side{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player{
  width: 80%;
}

/* Buttons below video */
.below-button{
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.video-button-below{
  padding: 10px;
  font-size: 1.3em;
  border-radius: 25px;
}

.no-highlights{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foldertab-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Champion image on folder */
.foldertab-menu img{
  border-radius: 50px;
  width: 15%;
  height: 100%;
  margin-left: 15px;

}

.foldertab-menu h3{
  margin: 1px;
  font-size: 0.8em;
  margin-left: 15px;
}

.foldertab-menu h2{
  margin: 5px;
  margin-left: 15px;
  font-size: 1.3em;
}

.vertical{
  display: flex;
  flex-direction: column;  
}

.result{
  font-size: 1.5em !important;
  margin-left: auto !important;
  margin-right: 5px;
}
